<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Routes</title>
    <script>
        function confirmDeleteAccount() {
            if (confirm("Are you sure you want to delete your account? This action cannot be undone.")) {
                document.getElementById("deleteAccountForm").submit();
            }
        }
    </script>
</head>

<body>
    <h1>CruxTrack</h1>
    <h2>My Routes</h2>
    <p>Logged in as: <%= user.username %>
    </p>

    <% if (routes.length===0) { %>
        <p>No routes found.</p>
        <% } else { %>
            <ul>
                <% routes.forEach((route)=> { %>
                    <li>
                        <a href="/mycruxtrack/route/<%= route._id %>">
                            <%= route.name %>
                        </a>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
                <button onclick="location.href='/mycruxtrack/newroute'">Add New Route</button>
                <form action="/cruxtrack/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
                <form id="deleteAccountForm" action="/cruxtrack/deleteaccount" method="POST">
                    <button type="button" onclick="confirmDeleteAccount()">Delete Account</button>
                </form>
</body>

</html>