<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Route</title>
    <link rel="stylesheet" href="/newRoute.css">
</head>

<body>
    <h1 class="new-route-title">CruxTrack</h1>
    <h2>Adding New Route
    </h2>
    <div class="user-info">
        <p>Logged in as: <%= user.username %>
        </p>
        <%- include('logoutButton') %>
    </div>

    <div class="new-route-container">
        <form action="/mycruxtrack/newroute" method="POST" class="new-route-form">
            <label for="name" class="form-label">Name:</label>
            <input type="text" id="name" name="name" required class="form-input"><br>

            <label for="difficulty" class="form-label">Difficulty:</label>
            <input type="text" id="difficulty" name="difficulty" required class="form-input"><br>

            <label for="type" class="form-label">Type:</label>
            <input type="text" id="type" name="type" required class="form-input"><br>

            <label for="location" class="form-label">Location:</label>
            <input type="text" id="location" name="location" class="form-input"><br>

            <label for="ticks" class="form-label">Ticks:</label>
            <input type="text" id="ticks" name="ticks" required class="form-input"><br>

            <button type="submit" class="add-route-button">Add Route</button>
        </form>

    </div>

    <form action="/mycruxtrack/myroutes" method="GET">
        <button class="back-button" type="submit">Back to Routes</button>
    </form>


</body>

</html>