<!-- register.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
    <link rel="stylesheet" href="/login.css"> <!-- Include external CSS file -->
</head>

<body>
    <h1 class="login-title">CruxTrack</h1> <!-- Heading for the page title -->
    <% if (error) { %> <!-- If an error exists -->
        <p class="error-message">Error: <%= error %> <!-- Display the error message using EJS template syntax -->
        </p>
        <% } %>

            <form action="/register" method="POST" class="login-form">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" required class="form-input"><br>
                <!-- Input field for entering the username -->

                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" required class="form-input"><br>
                <!-- Input field for entering the password -->

                <button type="submit" class="login-button">Register</button>
                <!-- Button to submit the registration form -->

                <div class="register-container">
                    <p>Already have an account? <a href="/" class="register-link">Login</a></p>
                    <!-- Link to navigate to the login page -->
                </div>
            </form>
</body>

</html>