body {
    background-image: url("/imgs/routesBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: center;
    color: white;
    font-size: 36px;
    /* Adjusted font size */
    margin-top: 20px;
    /* Adjusted margin */
    margin-bottom: -40px;
    /* Adjusted margin */
}

h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: left;
    color: white;
    font-size: 24px;
    /* Adjusted font size */
    margin-left: 5px;
    /* Adjusted margin */
    margin-top: 15px;
    /* Adjusted margin */
    margin-bottom: 5px;
    /* Adjusted margin */
}

.user-info {
    position: absolute;
    text-align: center;
    bottom: 15px;
    /* Adjusted position */
    right: 5px;
    /* Adjusted position */
    color: white;
    margin-right: 5px;
    /* Adjusted margin */
    font-size: 18px;
    /* Adjusted font size */
}

.logout-button {
    margin-bottom: 3px;
    /* Adjusted margin */
    display: block;
    font-size: 18px;
    /* Adjusted font size */
}

.delete-account-button {
    color: whitesmoke;
    margin-top: 3px;
    /* Adjusted margin */
    margin-bottom: 3px;
    /* Adjusted margin */
    background-color: rgb(154, 28, 0);
}

.add-route-button {
    position: absolute;
    top: 40px;
    /* Adjusted position */
    left: 5px;
    /* Adjusted position */
    margin: 0;
    z-index: 1;
    margin-top: 20px;
    /* Adjusted margin */
    background-color: rgba(179, 140, 1);
    margin-left: 10px;
    /* Adjusted margin */
    padding: 5px 10px;
    /* Adjusted padding */
    font-size: 14px;
    /* Adjusted font size */
}

.route-container {
    text-align: center;
    background-color: rgba(179, 140, 1, 0.8);
    padding: 5px;
    /* Adjusted padding */
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 0);
    column-count: 1;
    column-gap: 10px;
    /* Adjusted column gap */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    margin: 0 auto;
    font-size: 18px;
    /* Adjusted font size */
    max-height: calc(100vh - 20px);
    /* Adjusted max height */
    overflow-y: auto;
}

.route-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: block;
    font-size: 18px;
    /* Adjusted font size */
}

.route-list li {
    margin-bottom: 5px;
    /* Adjusted margin */
    text-align: center;
    display: block;
    font-size: 18px;
    /* Adjusted font size */
}

.route-list li a {
    text-decoration: underline;
    color: black;
    font-size: 18px;
    /* Adjusted font size */
    text-align: center;
    display: block;
    font-size: 18px;
    /* Adjusted font size */
}

/* mobile */
@media (max-width: 425px) {
    .register-title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: -30px;
    }

    h2 {
        margin-top: 40px;
    }

    .user-info {
        font-size: 16px;
        color: black;
        background-color: rgba(255, 255, 255, 0.556);
        margin-top: 50px;
    }

    .logout-button {
        margin-bottom: 2px;
        font-size: 16px;
    }

    .add-route-button {
        top: 35px;
        margin-top: 100px;
        margin-left: 7px;
        padding: 3px 7px;
        font-size: 12px;
    }

    .route-container {
        column-count: 4;
        column-gap: 5px;
        font-size: 16px;
        max-height: calc(100vh - 10px);
    }

    .route-list {
        font-size: 16px;
    }

    .route-list li {
        margin-bottom: 3px;
        font-size: 16px;
    }

    .route-list li a {
        font-size: 16px;
    }
}


/* tablets */
@media (min-width: 768px) {
    .register-title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: -30px;
    }

    h2 {
        margin-top: 40px;
    }

    .user-info {
        font-size: 16px;
        color: white;
        margin-top: 50px;
    }

    .logout-button {
        margin-bottom: 2px;
        font-size: 16px;
    }

    .add-route-button {
        position: absolute;
        top: 40px;
        /* Adjusted position */
        left: 5px;
        /* Adjusted position */
        margin: 0;
        z-index: 1;
        margin-top: 50px;
        /* Adjusted margin */
        background-color: rgba(179, 140, 1);
        margin-left: 10px;
        /* Adjusted margin */
        padding: 5px 10px;
        /* Adjusted padding */
        font-size: 14px;
        /* Adjusted font size */
    }

    .route-container {
        column-count: 4;
        column-gap: 5px;
        font-size: 26px;
        max-height: calc(100vh - 10px);
    }

    .route-list {
        font-size: 26px;
    }

    .route-list li {
        margin-bottom: 3px;
        font-size: 26px;
    }

    .route-list li a {
        font-size: 18px;
    }
}

/* laptop */
@media (min-width: 1400px) {
    .register-title {
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: -30px;
    }

    h2 {
        margin-top: 40px;
    }

    .user-info {
        font-size: 16px;
        color: white;
        margin-top: 50px;
    }

    .logout-button {
        margin-bottom: 2px;
        font-size: 16px;
    }

    .add-route-button {
        position: absolute;
        top: 40px;

        left: 5px;

        margin: 0;
        z-index: 1;
        margin-top: 50px;

        background-color: rgba(179, 140, 1);
        margin-left: 10px;

        padding: 5px 10px;

        font-size: 14px;

    }

    .route-container {
        column-count: 4;
        column-gap: 5px;
        font-size: 26px;
        max-height: calc(100vh - 10px);
    }

    .route-list {
        font-size: 26px;
    }

    .route-list li {
        margin-bottom: 3px;
        font-size: 26px;
    }

    .route-list li a {
        font-size: 30px;
    }
}