body {
    /* Set background image */
    background-image: url("/imgs/routesBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.route-info-container {
    /* Style container for route information */
    background-color: rgba(179, 140, 1, 0.8);
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 0);
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.route-info {
    /* Style route information within the container */
    margin-bottom: 10px;
    font-size: xx-large;
}

.user-info {
    /* Style user information section */
    position: absolute;
    text-align: center;
    bottom: 30px;
    right: 10px;
    color: white;
    margin-right: 10px;
    font-size: x-large;
}

.logout-button {
    /* Style logout button within user information section */
    margin-bottom: 5px;
    display: block;
}

h1 {
    /* Style heading level 1 */
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: -83px;
}

h2 {
    /* Style heading level 2 */
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: left;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.button-container {
    /* Style container for buttons */
    text-align: center;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: x-large;
}

.button-container button {
    /* Style buttons within the container */
    background-color: rgba(179, 140, 1);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: x-large;
}

.button-container button:hover {
    /* Style hover effect for buttons */
    opacity: 0.8;
}

.back-button {
    /* Style back button */
    position: absolute;
    top: 80px;
    left: 10px;
    margin: 0;
    z-index: 1;
    margin-top: 40px;
    background-color: rgba(179, 140, 1);
    margin-left: 15px;
    padding: 7.5px 15px;
    /* Increase the padding */
    font-size: 20px;
    /* Increase the font size */
}

.label {
    /* Style labels */
    text-decoration: underline;
}

@media (max-width: 425px) {

    /* Media query for screen width up to 425px */
    h2 {
        /* Hide h2 element */
        display: none;
    }

    .back-button {
        /* Style back button for small screens */
        position: absolute;
        top: 80px;
        left: 10px;
        margin: 0;
        z-index: 1;
        margin-top: 550px;
        background-color: rgba(179, 140, 1);
        margin-left: 27%;
        padding: 7.5px 15px;
        /* Increase the padding */
        font-size: 20px;
        /* Increase the font size */
    }

    .user-info {
        /* Hide user information section */
        display: none;
    }

    .route-info-container {
        /* Style container for route information on small screens */
        background-color: rgba(179, 140, 1, 0.8);
        padding: 10px;
        display: inline-block;
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 0);
        margin-top: 50px;
        margin-bottom: 20px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: large;
    }

    .route-info {
        /* Style route information on small screens */
        margin-bottom: 10px;
        font-size: x-large;
    }

    .button-container {
        /* Style container for buttons on small screens */
        text-align: center;
        margin-top: 10%;
        display: flex;
        justify-content: center;
        gap: 10px;
        font-size: large;
    }

    .button-container button {
        /* Style buttons within the container on small screens */
        background-color: rgba(179, 140, 1);
        color: white;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: large;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {

    /* Media query for screen width between 426px and 768px */
    h2 {
        /* Style heading level 2 for medium screens */
        font-family: 'GFS Neohellenic', sans-serif;
        text-align: left;
        color: white;
        font-size: 40px;
        margin-left: 10px;
        margin-top: 80px;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
    }

    .back-button {
        /* Style back button for medium screens */
        position: absolute;
        top: 80px;
        left: 10px;
        margin: 0;
        z-index: 1;
        margin-top: 850px;
        background-color: rgba(179, 140, 1);
        margin-left: 5px;
        padding: 7.5px 15px;
        /* Increase the padding */
        font-size: 20px;
        /* Increase the font size */
    }

    .new-route-container {
        /* Style container for new route on medium screens */
        background-color: rgba(179, 140, 1, 0.8);
        padding: 20px;
        /* Add padding to create space */
        display: inline-block;
        border-radius: 10px;
        border: 2px solid rgb(255, 255, 0);
        margin-bottom: 20px;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: x-large;
        width: 60%;
    }
}

@media screen and (min-width: 780px) and (max-width: 1300px) {

    /* Media query for screen width between 780px and 1300px */
    h2 {
        /* Style heading level 2 for large screens */
        font-family: 'GFS Neohellenic', sans-serif;
        text-align: left;
        color: white;
        font-size: 40px;
        margin-left: 10px;
        margin-top: 72px;
        margin-bottom: 10px;
        position: relative;
        z-index: 2;
    }

    .back-button {
        /* Style back button for large screens */
        position: absolute;
        top: 80px;
        left: 10px;
        margin: 0;
        z-index: 1;
        margin-top: 75px;
        background-color: rgba(179, 140, 1);
        margin-left: 15px;
        padding: 7.5px 15px;
        /* Increase the padding */
        font-size: 20px;
        /* Increase the font size */
    }
}