body {
    background-image: url("/imgs/routesBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.route-info-container {
    background-color: rgba(179, 140, 1, 0.8);
    padding: 10px;
    display: inline-block;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 0);
    margin-bottom: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.route-info {
    margin-bottom: 10px;
}

.user-info {
    position: absolute;
    text-align: center;
    bottom: 30px;
    right: 10px;
    color: white;
    margin-right: 10px;
}

.logout-button {
    margin-bottom: 5px;
    display: block;
}

h1 {
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: center;
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: -83px;
}

h2 {
    font-family: 'GFS Neohellenic', sans-serif;
    text-align: left;
    color: white;
    font-size: 40px;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
}

.button-container {
    text-align: center;
    margin-top: 25%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-container button {
    background-color: rgba(179, 140, 1);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container button:hover {
    opacity: 0.8;
}

.back-button {
    position: absolute;
    top: 80px;
    left: 10px;
    margin: 0;
    z-index: 1;
    margin-top: 40px;
    background-color: rgba(179, 140, 1);
    margin-left: 15px;
    padding: 7.5px 15px;
    /* Increase the padding */
    font-size: 20px;
    /* Increase the font size */
}